.vscode/**
.vscode-test/**
.github/**
src/**
tools/**
out-test/**
test/**
.gitignore
.mocharc.json
images/icon.xcf
tsconfig.json
tsconfig.test.json
eslint.config.mjs
CONTRIBUTING.md
**/*.map
**/*.ts
node_modules/**
